[Desktop Entry]
Encoding=UTF-8
Name=Link to Entry Adapter 2 Pin 78 mm – Alb Filter
Type=Link
URL=https://alb-filter.com/products/alb-entry-adapter-2-pin-77-mm-zubehor
Icon=text-html
